@import url("./reset.css");

html {
  color: #444;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    "Segoe UI",
    "Helvetica Neue",
    HelveticaNeue,
    YuGothic,
    "Yu Gothic Medium",
    "Yu Gothic",
    Verdana,
    Meiryo,
    sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: clamp(0.95rem, 2.1vw, 1.05rem);
}

a:hover { color: orange; }

.inter {
  opacity: 0;
}

.inter.show {
  animation: ani 1s;
  animation-delay: 0.5s;
  animation-fill-mode:forwards;
}

@keyframes ani {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
