.details {
  width: max(45%, 315px);
  margin: 0 auto;
  border: 1px solid #ccc;
  padding-bottom: 15px;
}

.details:first-of-type {
  margin-top: 50px;
}

.summary {
  padding: 15px 25px;
  background-color: #eee;
  font-size: 2rem;
  cursor: pointer;
  transition: 0.15s;
}

.summary:hover {
  background-color: rgba(#eee, 0.5);
}

.link {
  color: #444;
  font-size: clamp(1.32rem, 3vw, 1.8rem);
  transition: 0.2s;
}

.link:hover {
  color: orange;
}

.icon {
  margin-left: 10px;
  font-size: clamp(1.45rem, 2.7vw, 1.65rem);
}

.text {
  margin-top: 25px;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
  padding-left: 20px;
  width: 90%;
}

.technologies {
  padding: 10px 15px;
  margin: 10px 0 0 10px;
  list-style: none;
}

.listItem {
  margin-bottom: 5px;
  font-size: clamp(1.25rem, 2.2vw, 1.55rem);
  letter-spacing: 0.5px;
}

.listItem span {
  font-family: Color Emoji,Segoe UI Emoji;
}
