.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    width: 94%;
    align-items: stretch;
  }  
}

.count {
  margin: min(40px, 3vw) 0 20px;
  color: #444;
  font-size: clamp(1.7rem, 3vw, 2rem);
  text-align: center;
}

.week {
  display: block;
  margin-bottom: 5px;
}

.loadingMessage {
  color: #888;
  font-size: 2.4rem;
  text-align: center;
}

.errorWrapper {
  margin: 10px auto;
  width: max(324px, 50%);
  color: #444;
  text-align: center;
}

.errorMessage {
  font-size: clamp(2rem, 4vw, 2.8rem);
  font-weight: 100;
  text-align: center;
}

@media (max-width: 768px) {
  .errorMessage {
    font-weight: 400;
  } 
}

.errorText {
  margin: 30px auto;
  width: max(315px, 80%);
  font-size: clamp(1.48rem, 2vw, 1.6rem);
  line-height: 1.95;
}

.box {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgb(var(--color));

  .info {
    display: none;
    position: absolute;
    top: -40px;
    left: -500%;
    padding: 5px 10px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #ddd;
    font-size: 1.4rem;
    font-weight: 500;
    z-index: 1;
    white-space: nowrap;
  }

  &:hover {
    background-color: rgba(var(--color), 0.6);

    .info {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .box {
    width: 12px;
    height: 12px;

    &:hover {
      .info {
        display: none;
      }
    }
  } 
}

.none {
  background-color: #eee;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px auto 0;

  button {
    background-color: rgb(var(--color));
    width: 90px;
    height: 35px;
    cursor: pointer;
    border-color: #aaa;
    border-radius: 2px;

    &:hover {
      background-color: rgba(var(--color), 0.8);
    }
  }
}

@media (max-width: 768px) {
  .buttonWrapper {
    gap: 10px;

    button {
      width: 70px;
      height: 30px;
      border-radius: 0px;
    }
  } 
}
