.wrapper {
  display: flex;
}
.week {
}

.box {
  width: 15px;
  height: 15px;
  border: 1px solid #aaa;
}

.green5 {
  background-color: rgba(0, 255, 0, 1);
}

.green4 {
  background-color: rgba(0, 200, 0, 1);
}

.green3 {
  background-color: rgba(0, 170, 0, 1);
}

.green2 {
  background-color: rgba(0, 110, 0, 1);
}

.green1 {
  background-color: rgba(0, 70, 0, 0.8);
}

.none {
  background-color: #fff;
}