.wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #222;
  z-index: 100;
  opacity: 1;
  transition: 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0005);
}

.loader {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: animate 2s linear infinite;
}

.loader:nth-child(1)::before,
.loader:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-image: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.9));
  background-size: 100px 180px;
  background-repeat: no-repeat;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.loader:nth-child(2),
.loader:nth-child(4) {
  animation-delay: -1s;
  filter: hue-rotate(290deg);
}

.loader i {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 20px;
  background-color: #00fff9;
  border-radius: 50%;
  z-index: 100;
  box-shadow: 0 0 10px #00bbb9,
    0 0 20px #00bbb9,
    0 0 30px #00bbb9,
    0 0 40px #00bbb9,
    0 0 50px #00bbb9,
    0 0 60px #00bbb9,
    0 0 70px #00bbb9,
    0 0 80px #00bbb9,
    0 0 90px #00bbb9,
    0 0 100px #00bbb9;
}

.loader span {
  position: absolute;
  inset: 20px;
  background-color: #222;
  border-radius: 50%;
  z-index: 1;
}

.wrapper.hide {
  opacity: 0;
  visibility: hidden;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .loader {
    width: 175px;
    height: 175px;
  }
}
