.wrapper {
  margin: 0 auto 30px;
  width: 60%;
}

.pageTitle {
  margin-bottom: 20px;
  font-weight: normal;
}

.section {
  padding: 40px 0 10px;
}

.section h2 {
  margin-bottom: 20px;
  font-weight: normal;
}

.section p {
  width: 90%;
  line-height: 1.75;
}

.section ul {
  width: 85%;
  margin: 20px 0;
  padding-left: 15px;
  list-style: none;
}

.section li {
  margin-bottom: 10px;
}

.section li::before {
  content: "✔";
  margin-right: 10px;
}

.section li a {
  display: inline-block;
}

.siteList > li {
  margin-bottom: 50px;
}

.siteList li a {
  display: inline-block;
  margin-bottom: 10px;
  color: #444;
}

.siteList li p {
  margin-left: 20px;
}

.techList li {
  margin-bottom: 5px;
}

.techList li:before {
  font-family: Color Emoji,Segoe UI Emoji;
  content: "⚙";
}
