.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper {
    width: 95%;
    justify-content: left;
    align-items: stretch;
  }  
}

.count {
  margin: 40px 0 20px;
  color: #444;
  font-size: 2rem;
  text-align: center;
}

.week {
  display: block;
}

.loadingMessage {
  color: #888;
  font-size: 2.4rem;
  text-align: center;
}

.errorWrapper {
  margin: 10px auto;
  width: 50%;
  color: #444;
  text-align: center;
}

.errorMessage {
  font-size: 2.8rem;
  font-weight: 100;
  text-align: center;
}

.errorText {
  margin: 30px auto;
  width: 80%;
  font-size: 1.6rem;
  line-height: 2;
}

.box {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: rgb(var(--color));

  .info {
    padding: 5px 10px;
    display: none;
    position: absolute;
    top: -33px;
    left: 16px;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #ddd;
    font-size: 1.4rem;
    font-weight: 500;
    z-index: 1;
    white-space: nowrap;
  }

  &:hover {
    background-color: rgba(var(--color), 0.6);
    .info {
      display: block;
    }
  }
}

@media (max-width: 768px) {
  .box {
    width: 10px;
    height: 10px;
  } 
}

/*
.green5 {
  background-color: rgb(0, 85, 0);

  &:hover {
    background-color: rgba(0, 105, 0, 0.5);
  }
}

.green4 {
  background-color: rgb(0, 120, 0);

  &:hover {
    background-color: rgba(0, 135, 0, 0.5);
  }
}

.green3 {
  background-color: rgb(0, 155, 0);

  &:hover {
    background-color: rgba(0, 165, 0, 0.5);
  }
}

.green2 {
  background-color: rgb(0, 190, 0);

  &:hover {
    background-color: rgba(0, 195, 0, 0.5);
  }
}
*/

.none {
  background-color: #eee;
}

