.count {
  margin: 40px 0 20px;
  color: #444;
  font-size: 2rem;
  text-align: center;
}

.errorWrapper {
  margin: 10px auto;
  width: 50%;
  color: #444;
  text-align: center;
}

.errorMessage {
  font-size: 2.8rem;
  font-weight: 100;
  text-align: center;
}

.errorText {
  margin: 30px auto;
  width: 80%;
  font-size: 1.6rem;
  line-height: 2;
}
